ul {
    width: 75%; /* 矩形的宽度 */
    height: 50px; /* 矩形的高度 */
    font-weight: bold; /* 设置字体加粗 */
    font-family: Arial, sans-serif; /* 选择较圆润的字体 */
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6db2e1;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    
}
li {
    float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*鼠标移动到选项上修改背景颜色 */
li a:hover {
  background-color:whitesmoke;
  background-color: #66ccff;
}
.active {
  background-color: #4CAF50;
}

/* 隐藏侧边栏样式 */
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bde2f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* 在高度小于 450px 的较小屏幕上，更改 sidenav 的样式（更少的填充和更小的字体大小）*/
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* 结束 */

  /* 圆形头像 */
  .avatar-outer {
    width: 120px; /* 圆形容器的宽度，包括内边距 */
    height: 120px; /* 圆形容器的高度，包括内边距 */
    border-radius: 50%; /* 设置外层边框半径为50%，使其成为圆形 */
    overflow: hidden; /* 隐藏溢出的部分，确保是圆形 */
    background-color: #ccc; /* 可选：为外层容器添加背景颜色 */
    padding: 10px; /* 添加10像素的内边距 */
    
  }
  
  .avatar-inner {
    width: 100%; /* 内层容器充满外层容器 */
    height: 100%; /* 内层容器充满外层容器 */
    overflow: hidden;
  }
  
  .avatar-inner img {
    width: 100%; /* 图像充满内层容器 */
    height: 100%; /* 图像充满内层容器 */
    object-fit: cover; /* 调整图像以填充整个内层容器 */
  }
  
  body {
    background-image: url('img/0_星は眠らず_87652804.png'); /* 设置背景图像的URL */
    background-size: cover; /* 以尽可能大的尺寸覆盖整个页面 */
    background-attachment:fixed; /* 使背景图像固定，随滚动条滚动 */
    background-color: rgba(0, 0, 0, 0.5); /* 设置背景颜色的透明度为50% */
    background-repeat: no-repeat;
  }
  