ul {
    width: 98%; /* 矩形的宽度 */
    height: 50px; /* 矩形的高度 */
    font-weight: bold; /* 设置字体加粗 */
    font-family: Arial, sans-serif; /* 选择较圆润的字体 */
    border-radius: 20px;
    list-style-type: none;
    margin: 5px 15px;
    padding: 0;
    
    background-color: #6db2e1;
    position: relative;
    top: 0;
    right: 0;
    
    text-align: right;
    z-index: 2;
}
li {
    float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
  background-color:whitesmoke;
  background-color: #66ccff;
}


/* 隐藏侧边栏样式 */
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #bde2f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  /* 关闭按钮的位置和样式（右上角） */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
 
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin: 0% ;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
  }
  
  /* 在高度小于 450px 的较小屏幕上，更改 sidenav 的样式（更少的填充和更小的字体大小）*/
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* 结束 */

  /* 圆形头像 */
  
  .avatar-inner {
    width: 100px; /* 内层容器充满外层容器 */
    height: 100px; /* 内层容器充满外层容器 */
    border-radius: 50%; /* 设置外层边框半径为50%，使其成为圆形 */
    overflow: hidden; /* 隐藏溢出的部分，确保是圆形 */
  }
  
  .avatar-inner img {
    width: 100%; /* 图像充满内层容器 */
    height: 100%; /* 图像充满内层容器 */
    object-fit: cover; /* 调整图像以填充整个内层容器 */
    /* 想要与侧边栏有一定距离，设置border大小，并且颜色和背景一致 */
  }
  
  .transbox {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border: 1px solid black;
    text-align: center;
    opacity: 0.9;/* css中设置透明度，越小越透明，多个嵌套div才有用 */
  }
  .img12{
    width: 100%;
    height: auto;
    
    margin: 20px auto;
    padding: 0%;
    
  } 
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: larger;
  }
  body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
    /* 边框问题解决了 */
}
  body {
    background-image: url('img/0_星は眠らず_87652804.png'); /* 设置背景图像的URL */
    background-size: cover; /* 以尽可能大的尺寸覆盖整个页面 */
    background-attachment:fixed; /* 使背景图像固定，随滚动条滚动 */
    background-repeat: no-repeat;
    
  }
  .introduction a {
    text-align: center;
    text-decoration: none;
  }
  .span1{
    background-color: #000;
    width: 15px;
    height: 15px;
    margin: 2px;
    vertical-align: middle;
    display: inline-block;
  }
  a{
    text-decoration: none;
  }
  .heimu{
    background-color: #000;
    transition: color 0.13s linear;
    color: #252525;
    text-shadow: none;
  }
  .img-Head{
    height: 30%;
    width: 30%;
    margin-right: 10px;
  }
  .img-padding{
    width: 100%; /* 设置图像宽度为100% */
    height: auto; /* 让高度根据宽度自动调整，以保持纵横比 */
    max-width: 80%; /* 设置最大宽度 */
    display: block; /* 去除默认的行内元素间隙 */
    margin: 0 auto; /* 水平居中图像 */
  }
  .span-font{
    font-size: 25px;
    text-align: center;
    
  }
  .div-juzhong{
    margin: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  